.maindiv{
	font-family: 'Cutive Mono';
	background-color:#000000;
	/* color:rgba(255,255,255); */
    height: 100vh;
    
    
	/*overflow:hidden;*/
}

.content *{
    position: relative;
    z-index: 20;
    color: rgba(0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;

}


.light {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #fff;
    z-index: 10;
    -webkit-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
    
}