.maindiv{
	font-family: 'Cutive Mono';
	background-color:#4B433A;
	/* color:rgba(255,255,255); */
    height: 100vh;
    
    
	/*overflow:hidden;*/
}

.content *{
    position: relative;
    z-index: 20;
    color:#4B433A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;

}


.light {
    position: absolute;
    width: 500px;
    height: 500px;
    /* background-color: #fff; */
    z-index: 10;
    border-radius: 50%;
    background: radial-gradient(circle, #76685a56, #453d33)
    /* box-shadow: inset 0px 0px 20px 150px #4B433A; */ 
    
}

.books{
    
    height: 1500px;
    right: 500px;
    top: 200px;
    position: absolute;
    /* display: block; */
}