.maindiv{
	font-family: 'Cutive Mono';
	background-color:#4B433A;
	/* color:rgba(255,255,255); */
    height: 100vh;
    width: 100vw;
    
    
    
	/*overflow:hidden;*/
}

.content *{
    position: relative;
    z-index: 20;
    color:#4B433A;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: none;

}


.light {
    position: absolute;
    width: 700px;
    height: 700px;
    background-color: #fff;
    z-index: 10;
    border-radius: 50%;
    background: radial-gradient(circle, #9e94894f, #6f6a6526);
    mix-blend-mode: lighten;
    box-shadow: 0 0 50px 50px #5d51444d, inset 0 0 50px 50px #312a1f21;
    cursor: none;
    
}

.img{
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    object-fit: cover;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #080808;
    z-index: 3; /* Темный слой */
    mix-blend-mode: multiply;
  }